OPENAI_API_KEY=your_openai_key

GREENDEAL_EMAIL=your_greendeal_email
GREENDEAL_PASSWORD=your_greendeal_password
GREENDEAL_CREATE_JOB_URL=https://www.greendeal.com.au/retailers_new/stc/stc_pvd_jobs/operate/add
GREENDEAL_LOGIN_URL=https://greendeal.com.au/retailers/login

BRIDGESELECT_USERNAME=your_bridgeselect_username
BRIDGESELECT_OTP=your_bridgeselect_otp

BRIDGESELECT_CONNECTOR_BASE_URL=https://bridgeselect.com.au
BRIDGESELECT_CONNECTOR_KEY=your_connector_key
BRIDGESELECT_CONNECTOR_SALT=your_connector_salt
BRIDGESELECT_CONNECTOR_TIMEOUT_SECONDS=20

NOMINATIM_USER_AGENT=JobIntakeBridgeConnector/1.0
NOMINATIM_TIMEOUT_SECONDS=8

APP_ENV=development
DEBUG=1
